
.tags-wrapper{
    display:flex;
    flex-direction: row;
    flex-flow: wrap; 
}

.subtitle-weekly{
    text-align: center;
}

.tags-weekly-user{
   display: flex;
   justify-content: center;
   align-items: center;
}