@import '../../scss/variables.scss';

.level{
 &.level-userinfo{
    display: flex;
    flex-direction: column;
}
}

.anchestor-userinfo{
    display: flex;
    flex-direction: column;
}

.box-friends{

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 254px;
    transition: all ease 0.2s;

    &.box:not(:last-child){
        margin: 5px;
    }
    &.box:last-child{
        margin: 5px;
    }
}

.box-friends:hover{
    transform: translateY(-3px);
}

.media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-left{
    display: flex;
    justify-content: center;
}

.lastfm-url:hover{
    color: $green-hover;
}

.lastfm-url{
    transition: all ease-in 0.2s;
}


h3.title-friends{
    text-align:center;
    color: $green-text;
}

.title, .title-user{
    color: $green-text;
    font-weight: 500;
}

.content-userinfo{
    display: flex;
    flex-direction: row;
}

h4{
 &.subtitle{
    margin-right: 3px;
}
}



.friends-title-bold{
    color: $gray-text;
}

.friends-title-small, a{
    color: $green-text;
}

.tag{
    &.tag-left{
        background-color: $tag-left-background;
        color: $tag-left-color;
    }
    &.tag-right{
        background-color: $tag-right-background;
        color: $tag-right-color;
    }
}

.columns-userinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child-userinfo{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.section-userinfo{
    background-color: $background-color; 
}

.subtitle-weekly{
    color: $green-text;
}
