@charset "utf-8";
@import '~bulma/bulma.sass';
@import './scss/main.scss';
@import './Components/User/user.scss';
@import './Components/UserInfo/userInfo.scss';


.is-light{
    color: white;
    font-weight: 200;
}