@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import './variables.scss';

h1,h2,h3,h4,h5{
    font-family: 'Roboto Mono', monospace;
    color: white;
}


p, a{
    font-family: 'Ubuntu Mono', monospace;
    &.header{
        color: white;
    }
}

.tags{
    font-family: 'Ubuntu Mono', monospace
}

.title-header{
    font-family: "VT323", monospace;
}

button:focus
input:focus {
    outline: none !important;
}

.input .input-user:focus{
    outline: none !important;
}


.main-wrapper{
    height: 100vh;
    min-width: 100vw;
    background-color: $background-color;
}

.input:focus,
.input.is-focused,
.input.active{
    outline: none !important;
    border-color: $background-color !important;
    box-shadow: none !important;
}

.input:hover,
.input.is-hovered,
.textarea:hover,
.textarea.is-hovered{
    border-color: $background-color;
}

.button:focus,
.button.is-focused
.button:active{
    border-color: $green-outline;
    color: $green-text
}


.button:focus:not(:active),
.button.is-focused:not(:active){
    box-shadow: $box-shadow
}

.profile-img{
    border-radius: 5px;
    max-width: 174px;
    max-height: 174px;
}

.profile-img-avatar{
    max-width: 64px;
    max-height: 64px;
}

.columns{
    flex-flow: wrap;
}

.tags{
    margin-top: 8px;
    &.tags:last-child{
        margin-bottom: 0rem;
    }
}


.box{
    box-shadow: $box-shadow-blue;
    background-color: $background-color;
    color: $green-text;
}

.subtitle-error{
    color: $green-text;
}