
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:600');
@import './variables.scss';

h1,h2,h3,h4{
    font-family: 'Raleway', sans-serif;
    color: white;
}

p{
    font-family: 'Open Sans', sans-serif;
    &.header{
        color: white;
    }
}

.profile-img{
    border-radius: 5px;
}

.columns{
    flex-flow: wrap;
}

.tags{
    margin-top: 8px;
    &.tags:last-child{
        margin-bottom: 0rem;
    }
}


.box{
    box-shadow: $box-shadow;
}
