
$background-color: rgb(10, 25, 47);
$background-hover: rgba(120, 250, 220, 0.11);
$background-color-input: #d0d0d0;
$green-text: rgb(100, 255, 218);
$green-outline: rgb(100, 255, 218);
$gray-text: #d4dad9;
$blue-text: rgb(200, 220, 255);

$tag-left-color: #d9e4f5;
$tag-left-background:#223b5f;
 
$tag-right-color:#d9e4f5;
$tag-right-background:#223b5f;




$box-shadow: 22px 22px 100px 0  rgba(138, 148, 146, 0.24);
$box-shadow-blue: 11px 11px 50px 0 rgb(4, 10, 21);
$box-shadow-blue-body: 11px 11px 50px 0 rgb(5, 12, 24);