@import '../../scss/variables.scss';
.tile-wrapper{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    height: 100vh;
    align-items: flex-start;
}

.tiles{
    break-inside: avoid;
    padding: 0px;
}

h1.artist-title{
    color: $green-text;
}

.section-top-artists{
    height: 100%;
    background-color: $background-color;
}